nav{
    background-color: red;
    overflow: hidden;

}
nav a {
    display: block;
    color: white;
    text-decoration: solid;
    padding: 2px 2px;
    float:initial;

}
navb{
    background-color: grey;
    
}
header h2{
    color: white;
}
section{
    background-color:grey;
}
footer {
    overflow: hidden;
    background-color: brown;
}
footer a{
    display: black;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left;
}
.copyright {
    float: right;
}


